<div class="flex-container">
    <span class="header">{{'Contacts.websiteName' | translate}}</span>
    <div class="flex-container1">
        <form [formGroup]="loginForm" (ngSubmit)="onSumbit()">
            <div class="alert"
            *ngIf="condition.InvalidSignIn">
            {{'Welcome.SignIn.invalidSignIn' | translate}}
            </div>
            <app-input type="text"
                [placeholder]="'UI.Input.login' | translate"
                 class="login"
                formControlName="UserLogin">
            </app-input>
            <div class="alert"
            *ngIf="loginForm.controls['UserLogin'].invalid && loginForm.controls['UserLogin'].touched 
                || condition.InvalidLoginFormat">
            {{'Welcome.SignIn.invalidLoginFormat' | translate}}
            </div>
            <app-input type="password"
                 [placeholder]="'UI.Input.password' | translate"
                  class="password"
                  formControlName="UserPassword">
            </app-input>
            <div class="alert"
            *ngIf="loginForm.controls['UserPassword'].invalid && loginForm.controls['UserPassword'].touched 
                || condition.InvalidPasswordFormat">
            {{'Welcome.SignIn.invalidPasswordFormat' | translate}}
            </div>
            <button class="btn sign-in" [disabled]="loginForm.invalid">{{'UI.Button.signIn' | translate}}</button>
        </form>
        <div class="or"><span>{{'Welcome.SignIn.or' | translate}}</span></div>
        <button class="btn sign-up" routerLink="/welcome/sign-up">{{'UI.Button.signUp' | translate}}</button>
    </div>
</div>
