<div class="flex-container">
    <span class="header">{{'Contacts.websiteName' | translate}}</span>
    <form>
        <app-input type="text" [placeholder]="'UI.Input.login' | translate" class="login"></app-input>
        <app-input type="password" [placeholder]="'UI.Input.password' | translate" class="password"></app-input>
        <button class="btn sign-in">{{'UI.Button.signIn' | translate}}</button>
        <div class="or"><span>{{'Welcome.SignIn.or' | translate}}</span></div>
        <button class="btn sign-up">{{'UI.Button.signUp' | translate}}</button>
    </form>
</div>
