<div class="container" id="main">
    <div class="header">
        <div>{{'Competition.New.header' | translate}}</div>
        <div class="control-screen">
            <img src="../../../../assets/icons/fullscreen.png" (click)="onFullScreenToggle()" *ngIf="!isFullScreen">
            <img src="../../../../assets/icons/closeFullScreen.png" (click)="onFullScreenToggle()" *ngIf="isFullScreen">
            <img src="../../../../assets/icons/close.png" (click)="onClose()">
        </div>
    </div>
    <form [formGroup]="newCompetitionForm">
        <fieldset class="org-info">
            <div class="org">
                <label for="org">{{'Competition.New.organization' | translate}}</label>
                <input formControlName="Organization" name="org" readonly id="org">
            </div>
            <div class="city">
                <label for="city">{{'Competition.New.city' | translate}}</label>
                <input type="text" name="city" formControlName="City" readonly id="city">
            </div>
            <div class="length">
                <label for="length">{{'Competition.New.length' | translate}}</label>
                <select name="length" id="length" required formControlName="PoolLength">
                    <option value="">{{'Competition.New.select' | translate}}</option>
                    <option *ngFor="let item of lengthList"
                     [ngValue]="item">{{item}}</option>
                </select>
            </div>
            <div class="lanes">
                <label for="lanes">{{'Competition.New.lanes' | translate}}</label>
                <select name="lines" id="lanes" required formControlName="PoolLanes">
                    <option value="">{{'Competition.New.select' | translate}}</option>
                    <option *ngFor="let item of laneList"
                     [ngValue]="item">{{item}}</option>
                </select>
            </div>
        </fieldset>
        <fieldset class="comp-info">
            <div class="name">
                <label for="name">{{'Competition.New.name' | translate}}</label>
                <input formControlName="Name" name="name" id="name">
            </div>
            <div class="date">
                <div class="start">
                    <label for="start">{{'Competition.New.start' | translate}}</label>
                    <input 
                    formControlName="StartCompetition" 
                    type="date"
                    name="start" 
                    id="start"
                    [min]="minStart"
                    [max]="maxStart">
                </div>
                <div class="end" *ngIf="!newCompetitionForm.controls['StartCompetition'].invalid">
                    <label for="end">{{'Competition.New.end' | translate}}</label>
                    <input 
                    formControlName="EndCompetition" 
                    type="date" 
                    name="end" 
                    id="end"
                    [min]="minEnd"
                    [max]="maxEnd">
                </div>
            </div>
            <div class="bid">
                <label for="bid">{{'Competition.New.bid' | translate}}</label>
                <input 
                formControlName="BidDay" 
                type="number" name="bid" 
                id="bid" min="2" max="30" 
                [placeholder]="'Competition.New.days' | translate">
            </div>
            <div class="contribution">
                <label for="contribution">{{'Competition.New.contribution' | translate}}</label>
                <input 
                formControlName="Contribution" 
                type="number" name="contribution" 
                id="contribution" min="0">
            </div>
            <div class="check">
                <div class="individ">
                    <label for="individ">{{'Competition.New.individ' | translate}}</label>
                    <input formControlName="Individual" type="checkbox" name="individ" id="individ">
                </div>
                <div class="invit-only">
                    <label for="invit-only">{{'Competition.New.invitOnly' | translate}}</label>
                    <input 
                    formControlName="InvitOnly" 
                    type="checkbox" 
                    name="invit-only" 
                    id="invit-only">
                </div>
            </div>
        </fieldset>
        <fieldset class="max-value">
            <div class="members">
                <label for="members">{{'Competition.New.members' | translate}}</label>
                <input 
                formControlName="MaxMembers"
                type="number" name="members" 
                id="members" 
                min="1">
            </div>
            <div class="check-members">
                <label for="check-members">{{'Competition.New.noLimit' | translate}}</label>
                <input type="checkbox" name="check-members" id="check-members">
            </div>
            <div class="comands">
                <label for="comands">{{'Competition.New.commands' | translate}}</label>
                <input formControlName="MaxComands" type="number" name="comands" id="comands" min="1">
            </div>
            <div class="check-comands">
                <label for="check-comands">{{'Competition.New.noLimit' | translate}}</label>
                <input type="checkbox" name="check-comands" id="check-comands">
            </div>
            <div class="members-comand">
                <label for="members-comand">{{'Competition.New.mebersComand' | translate}}</label>
                <input 
                formControlName="MaxComandMembers" 
                type="number" 
                name="members-comand" 
                id="members-comand" 
                min="1">
            </div>
            <div class="check-members-comand">
                <label for="check-members-comand">{{'Competition.New.noLimit' | translate}}</label>
                <input type="checkbox" name="check-members-comand" id="check-members-comand">
            </div>
        </fieldset>
        <fieldset class="year-dist">
            <div class="distances">
                <app-distances 
                    [newCompetition]="true" 
                    (add)="onToggleAdd($event)" 
                    (clear)="onClear()" 
                    [distances]="distances"
                    [isSort]="isSortDistance"></app-distances>
                <app-add-distances 
                    *ngIf="toggleDistances" 
                    (close)="onToggleAdd($event)" 
                    [distances]="distances"
                    [isSort]="isSortDistance"
                    (deleteItem)="onDeleteDist($event)"
                    (clear)="onClear()"></app-add-distances>
            </div>
            <div class="year">
                <app-year-group
                    [newYearGroup]="true"
                    (add)="onToggleAddYear()" 
                    (clear)="onClearYear()"></app-year-group>
                <app-add-year-group 
                    *ngIf="toggleYearGroup"
                    (close)="onToggleAddYear()"
                    (clear)="onClearYear()"
                    (deleteItem)="onDeleteYear($event)"></app-add-year-group>
            </div>
        </fieldset>
        <button class="btn" [disabled]="newCompetitionForm.invalid"
            *appUserRoles="[Role.MainAdmin, Role.Admin, Role.VipUser]"
            (click)="onSumbit()">создать</button>
        <button class="btn" [disabled]="newCompetitionForm.invalid" 
            *appUserRoles="[Role.User]">оплатить</button>
    </form>
</div>
  