<div class="container">
    <div class="header">
        <div>Создать новое соревнование</div>
        <div>Крестик</div>
    </div>
    <form [formGroup]="newCompetitionForm">
        <fieldset class="org-info">
            <div class="org">
                <label for="org">Организация</label>
                <input formControlName="Organization" readonly id="org">
            </div>
            <div class="city">
                <label for="city">Город</label>
                <input type="text" name="city" formControlName="City" readonly id="city">
            </div>
            <div class="length">
                <label for="length">Длина басейна</label>
                <select name="length" id="length" required>
                    <option value="">Выберите значение</option>
                    <option value="1">25</option>
                    <option value="2">50</option>
                </select>
            </div>
            <div class="lanes">
                <label for="lanes">Количество дорожек</label>
                <select name="lines" id="lanes">
                    <option value="">Выберите значение</option>
                    <option value="1">4</option>
                    <option value="2">8</option>
                </select>
            </div>
            <div class="individ">
                <label for="individ">Разрешить личное участие</label>
                <input type="checkbox" name="individ" id="individ">
            </div>
        </fieldset>
        <fieldset class="max-value">
            <div class="members">
                <label for="members">Максимум участников</label>
                <input type="number" name="members" id="members" min="1">
            </div>
            <div class="check-members">
                <label for="check-members">Без лимита</label>
                <input type="checkbox" name="check-members" id="check-members">
            </div>
            <div class="comands">
                <label for="comands">Максимум команд</label>
                <input type="number" name="comands" id="comands" min="1">
            </div>
            <div class="check-comands">
                <label for="check-comands">Без лимита</label>
                <input type="checkbox" name="check-comands" id="check-comands">
            </div>
            <div class="members-comand">
                <label for="members-comand">Максимум учустников в команде</label>
                <input type="number" name="members-comand" id="members-comand" min="1">
            </div>
            <div class="check-members-comand">
                <label for="check-members-comand">Без либита</label>
                <input type="checkbox" name="check-members-comand" id="check-members-comand">
            </div>
        </fieldset>
        <fieldset class="year-dist">
            <div class="distances">
                <div class="dist-head">Дистанции</div>
                <div class="item">
                    <div class="dist">50м</div>
                    <div class="style">Батерфляй</div>
                    <div class="gender">Женщины</div>
                </div>
                <div class="item">
                    <div class="dist">1500м</div>
                    <div class="style">Кроль</div>
                    <div class="gender">Мужчины</div>
                </div>
            </div>
            <div class="year">Возрастные группы</div>
        </fieldset>
    </form>
</div>
