@import 'variebles';

.container {
    height: 85vh;
    width: 90vw;
    background-color: $mainA-color;
    border: 0.1em solid $second-color;
    display: flex;
    flex-direction: column;
    position: relative;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 1em;
        height: 2.5em;
        backdrop-filter: brightness(80%);
        .control-screen {
            display: flex;
            column-gap: 1em;
            height: 1em;
            img {
                cursor: pointer;
            }
        }
    }
    form {
        overflow-y: auto;
        background-color: $mainB-color;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-grow: 1;
        label {
            display: block;
        }
        input {
            width: min-content;
        }
        input[type=number] {
            width: 4em;
        }
        select {
            width: min-content;
        }
        fieldset {
            margin: 0.5em 0.5em 0 0.5em;
            &:last-of-type {
                margin-bottom: 0.5em;
            }
            input[type=number] {
                min-width: 7em;
            }
            &.org-info {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: 1fr 1fr;
                .org {
                    grid-area: 1 / 1 / 1 / 2;
                }
                .city { 
                    grid-area: 1 / 3 / 1 / 4;
                }
                .length {
                    grid-area: 2 / 1 / 2 / 2;
                }
                .lanes { 
                    grid-area: 2 / 3 / 2 / 4;
                }
                & > div {
                    height: 4em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
            
        }
        .comp-info {
            display: grid;
            grid-template-columns: 12em 4em auto;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            row-gap: 1em;
            & > div {
                display: flex;
                align-items: center;
                
            }
            .name {
                grid-area: 1 / 1 / 1 / 3;
                label {
                    padding-right: 0.5em;
                }
            }
            .date {
                grid-area: 2 / 1 / 2 / 3;
                column-gap: 1em;
                & > div {
                    display: flex;
                    column-gap: 1em;
                    align-items: center;
                }
            }
            .bid {grid-area: 3 / 1 / 3 / 3;}
            .contribution {grid-area: 4 / 1 / 4 / 3;}

            .check {
                grid-area: 5 / 1 / 5 / 4;
                display: flex;
                white-space: nowrap;
                column-gap: 2.75em;
                & > div {
                    display: flex;
                    align-items: center;
                }
            }
            .bid,
            .contribution {
                justify-content: space-between;
            }
        }
        .max-value {
            display: grid;
            grid: 1fr 1fr 1fr / 20em 8em;
            row-gap: 1em;
            column-gap: 1em;
            .members {grid-area: 1 / 1 / 1 / 1;}
            .comands {grid-area: 2 / 1 / 2 / 1;}
            .members-comand {grid-area: 3 / 1 / 3 / 1;}
            .check-members {grid-area: 1 / 2 / 1 / 2;}
            .check-comands {grid-area: 2 / 2 / 2 / 2;}
            .check-members-comand {grid-area: 3 / 2 / 3 / 2;} 
            & > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:nth-child(even) {
                    justify-content: flex-start;
                }
            }
        }
        .year-dist {
            display: flex;
            column-gap: 1em;
            .year {
                width: max-content;                
            }
            .distances {
                width: max-content;
            }
            @media (max-width: 410px) {
                flex-direction: column;
                row-gap: 1em;
            }
        }
        .btn {
            margin: 0 0.5em 0.5em 0.5em;
        }
    }
}

app-add-distances, app-add-year-group {
    position: absolute;
    top: 2.5em;
    left: 0;
    width: 100%;
    height: calc(100% - 2.5em);
    background-color: $shadow-box;
    display: flex;
    justify-content: center;
    align-items: center;
}