@import 'variebles';

.custom-input{
    display: flex;
    flex-direction: column-reverse;
    font-size: 1em;
    letter-spacing: 0.1em;
  }

  input {
    background: transparent;
    height: 2em;
    outline: none;
    z-index: 1;
    padding: 0.8em 0.8em;
  }

  label {
    padding: 0 0.2em;
    height: 1.2em;
    margin-left: 0.4em;
    padding: 2px;
    width: fit-content;
    transform: translate(0.8em, 1.5em);
    transform-origin: left top;
    transition: all 0.5s;
    cursor: text;
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    background: $main-color;
    transform: translate(0.2em, 0.6em) scale(0.8);
    z-index: 2;
  }