@import 'variebles';

.custom-input{
    display: flex;
    flex-direction: column-reverse;
    font-size: calc(0.75em + 0.6vw);
    letter-spacing: calc(0.01em + 0.1vw);
  }

  input {
    background: transparent;
    height: calc(2/3*100%);
    outline: none;
    z-index: 1;
    padding: calc(0.15em + 0.12vw) calc(0.75em + 0.5vw);
  }

  label {
    padding: 0 1%;
    height: calc(1/3*100%);
    margin-left: calc(0.15em + 0.12vw);
    padding: 2px;
    width: fit-content;
    transform: translate(calc(0.75em + 0.5vw), 100%);
    transform-origin: left top;
    transition: all 0.5s;
    cursor: text;
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    background: $main-color;
    transform: translate(calc(0.75em + 0.5vw), 55%) scale(0.8);
    z-index: 2;
  }