@import 'variebles';

details {
    border: 0.15em solid $second-color;
    background-color: $mainA-color;
    margin-bottom: 0.5em;
    cursor: pointer;
    summary {
        padding: 0 0.5em;
        & > span {
            display: inline-grid;
            width: calc(100% - 1.2em);
            grid-template-columns: 10fr 2fr auto;
            column-gap: 0.1em;
        }
        &::marker {
            display: inline;
        }
    }
    .info {
        display: grid;
        width: 100%;
        background-color: $mainB-color;
        padding: 0.5em;
        grid-template-columns: repeat(100, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto auto;
        row-gap: 0.5em;
        .organization {grid-area: 1 / 1 / 1 / 100;}
        .bid {grid-area: 2 / 1 / 2 / 100;}
        .invividual {grid-area: 3 / 1 / 3 / 49;}
        .invition {grid-area: 3 / 50 / 3 / 100;}
        .length {grid-area: 4 / 1 / 4 / 49;}
        .track {grid-area: 4 / 50 / 4 / 100;}
        .contribution {grid-area: 5 / 1 / 5 / 100;}
        .maxMembers {grid-area: 6 / 1 / 6 / 49;}
        .maxComands {grid-area: 6 / 50 / 6 / 100;}
        .maxComandMembers {grid-area: 7 / 1 / 7 / 100;}
        .members {grid-area: 8 / 1 / 8 / 49;}
        .commands {grid-area: 8 / 50 / 8 / 90;}
        .year-dist {
            grid-area: 9 / 1 / 9 / 100;
            display: flex;
            column-gap: 1em;
            .year {
                width: 18em;                
            }
            .distances {
                width: 20em;
            }
            @media (max-width: 410px) {
                flex-direction: column;
                row-gap: 1em;
            }
        }
        .note {
            grid-area: 10 / 1 / 10 / 70;
            background-color: $mainA-color;
            margin: 0.2em;
            padding: 0.5em;
            border-radius: 0.5em;
        }
    }
    .btn {
        grid-area: b;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        button {
            border: 0 none;
            justify-content: flex-end;
            border-radius: 0.1em;
            margin: 0.5em;
            height: 1.5em;
            background-color: $second-color;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            transition: 1s;
            &:hover {
                background-color: $secondA-color;
            }
        }
    }
}