@import 'variebles';

details {
    border: 0.15em solid $second-color;
    background-color: $mainA-color;
    margin-bottom: 0.5em;
    cursor: pointer;
    summary {
        padding: 0 0.5em;
        & > span {
            display: inline-grid;
            width: calc(100% - 1.2em);
            grid-template-columns: 10fr 2fr auto;
            column-gap: 0.1em;
        }
        &::marker {
            display: inline;
        }
    }
    .info {
        display: grid;
        background-color: $mainB-color;
        padding: 0.5em;
        grid-template-areas: "l l t t cb cb . . . ."
                             "p p c c   . . . . . ."
                             "y y y y y y   . b b b"
                             "n n n n n n n   b b b";
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr 1fr auto auto;
        .year-dist {
            grid-area: y;
            display: flex;
            column-gap: 1em;
            .year {
                width: max-content;                
            }
            .distances {
                width: max-content;
            }
        }
        .note {
            grid-area: n;
            background-color: $mainA-color;
            margin: 0.2em;
            padding: 0.5em;
            border-radius: 0.5em;
        }
    }
    .length {grid-area: l;}
    .track {grid-area: t;}
    .contribution {grid-area: cb;}
    .participents {grid-area: p;}
    .commands {grid-area: c;}
    .btn {
        grid-area: b;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        button {
            border: 0 none;
            justify-content: flex-end;
            border-radius: 0.1em;
            margin: 0.5em;
            height: 1.5em;
            background-color: $second-color;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            transition: 1s;
            &:hover {
                background-color: $secondA-color;
            }
        }
    }
}