<details>
    <summary>
            <span>
                <span class="name">{{item.Name}}</span>
                <span>Moscow</span>
                <span class="date">{{item.getDate(item.StartCompetition)}} - {{item.getDate(item.EndCompetition)}}</span>
            </span>
    </summary>
    <div class="info">
        <div class="length">{{'Competition.poolLength' | translate}}: {{item.PoolLength}}</div>
        <div class="track">{{'Competition.numberlanes' | translate}}: 8</div>
        <div class="contribution">{{'Competition.entryContribution' | translate}}: 500р</div>
        <div class="participents">{{'Competition.members' | translate}}: 48/300</div>
        <div class="commands">{{'Competition.teams' | translate}}: 8/10</div>
        <div class="year-dist">
            <div class="distances">
                <app-distances></app-distances>
            </div>
            <div class="year">
                <app-year-group></app-year-group>
            </div>
        </div>
        <div class="note">
            asdasfas<br>
            asd<br>
            asd<br>
            ffafasf</div>
        <div class="btn">
            <button>{{'Competition.apply' | translate}}</button>
        </div>
    </div>
</details>
