<div class="body">
    <div class="flex-container">
        <div class="nav-menu">
            <div class="tabs">
                <input type="radio" name="tabs-nav" id="tab-1" [checked]="flag">
                <label for="tab-1" class="tab" routerLink="/main/competition/current"><span>{{'Competition.currentCompetitions' | translate}}</span></label>
                <input type="radio" name="tabs-nav" id="tab-2" [checked]="!flag">
                <label for="tab-2" class="tab" routerLink="/main/competition/archive"><span>{{'Competition.archiveCompetitions' | translate}}</span></label>
            </div>
            <button class="btn new" (click)="onToggle()">{{'Competition.newCompetition' | translate}}</button>
        </div>
        <div *ngIf="empetyCompetitions">{{'Competition.noCompetitions' | translate}}</div>
        <div class="competitions">
            <div *ngFor="let item of competitions | async; let i = index">
                <app-competition-item [item] = item></app-competition-item>
            </div>
        </div>
    </div>
</div>
<div class="box-shadow" *ngIf="!closeNew"></div>
<div class="new-competition" *ngIf="!closeNew">
    <app-new-competition (close)="onToggle()"></app-new-competition>
</div>
