<div class="container">
    <div class="header">
        <div>{{'Competition.New.addDistances' | translate}}</div>
        <img src="../../../../assets/icons/close.png" (click)="onClose()">
    </div>
    <div class="body">
        <form class="head" [formGroup]="AddDistancesForm" (ngSubmit)="onSumbit()">
            <div class="dist">
                <label for="distance">{{'Competition.New.distance' | translate}}</label>
                <select name="distance" id="distance" required formControlName="Distance">
                    <option value="">{{'Competition.New.select' | translate | lowercase}}</option>
                    <option *ngFor="let item of distanceList"
                     [ngValue]="item">{{item | async}}</option>
                </select>
            </div>
            <div class="style">
                <label for="styles">{{'Competition.New.style' | translate}}</label>
                <select name="styles" id="styles" formControlName="Style">
                    <option value="1">{{'Competition.New.all' | translate | lowercase}}</option>
                    <option *ngFor="let item of styleList"
                     [ngValue]="item">{{item | async}}</option>
                </select>
            </div>
            <div class="gender">
                <label for="gender">{{'Competition.New.gender' | translate}}</label>
                <select name="gender" id="gender" formControlName="Gender">
                    <option value="1">{{'Competition.New.all' | translate | lowercase}}</option>
                    <option *ngFor="let item of genderList"
                     [ngValue]="item">{{item | async}}</option>
                </select>
            </div>
            <div>
                <button class="btn" [disabled]="AddDistancesForm.invalid">{{'Competition.New.add' | translate}}</button>
            </div>
        </form>
        <fieldset>
            <div class="item" *ngFor="let item of Distances">
                <div class="dist">{{item.distance | async}}</div>
                <div class="style">{{item.style | async}}</div>
                <div class="gender">{{item.gender | async | lowercase}}</div>
            </div>
        </fieldset>
    </div>
</div>
