@import 'variebles';

.flex-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 1.5em;
    align-self: center;
}

.flex-container1 {
    border-top: 2px solid $mainA-color;
    padding: 0px 1.5em;
    margin-bottom: 10px;
}

@media(min-device-width: 421px) { 
    .flex-container1 {
        align-self: center;
        width: 50vw;
        max-width: 480px;
        border: 2px solid $mainA-color;
        margin-top: 0.5em;
    }
    .flex-container {
        justify-content: center;
    }
}

:host ::ng-deep app-input {
    font-size: 1.2em;
    color: $mainB-color;
    input {
        border: 2px solid $mainB-color;
        border-radius: 2px;
        color: $mainB-color;
        &:focus {
            border-color: $second-color;
        }
    }
    input:focus + label,
    input:not(:placeholder-shown) + label {
        color: $second-color;
    }
}

.btn {
font-size: 1em;
 width: 100%;
 margin: 1em 0;   
 border-radius: 2px;
}

.sign-in {
    background-color: $main-color;
    border: 2px solid $secondB-color;
    color: $second-color;
    transition: 1s;
    &:hover {
        border-color: $second-color;
        color: $second-color;
    }
}

.sign-up {
    background-image: linear-gradient(to right, $second-color 0%, $secondB-color 51%, $second-color 100%);
    border: 2px solid transparent;
    background-size: 200% auto;
    &:hover {
        background-position: right center;
    }
}

.or {
    color: $mainB-color;
    border-bottom: 2px solid $mainA-color;
    text-align: center;
    margin-bottom: 1.6em;
    span {
        padding: 0 5px;
        background-color: $main-color;
        z-index: 1;
        display: inline-block;
        transform: translateY(45%);
    }
}

.alert {
    font-size: 1em;
    color: $mainB-color;
    border: 2px solid $alert-color;
    border-radius: 2px;
    margin-top: 0.5em;
    padding: 0.2em;
}
