<div class="year">
    <div class="year-head">
        <div>{{'Competition.yearGroup' | translate}}</div>
        <div class="add-delete" *ngIf="newYearGroup">
            <img src="../../../../assets/icons/delete.png" (click)="onClear()">
            <img src="../../../../assets/icons/add.png" (click)="onAdd()">
        </div>
    </div>
    <div class="body">
        <div class="men">
            <div class="head"><div>{{'Competition.men' | translate}}</div></div>
            <ng-container *ngFor="let item of yearGroup; index as i">
                <div *ngIf="gender(i)" class="item">
                    <div>
                        {{item.startYear}}
                        <span *ngIf="!item.infinity"> - {{item.endYear!}}</span>
                        <span *ngIf="item.infinity">+</span>
                    </div>
                </div>
            </ng-container>
            <div *ngFor="let item of additionalMen" class="item">
                <div>⠀</div>
            </div>
        </div>
        <div class="women">
            <div class="head"><div>{{'Competition.women' | translate}}</div></div>
            <ng-container *ngFor="let item of yearGroup; index as i">
                <div *ngIf="!gender(i)" class="item">
                    <div *ngIf="!gender(i)">
                        {{item.startYear}}
                        <span *ngIf="!item.infinity"> - {{item.endYear!}}</span>
                        <span *ngIf="item.infinity">+</span>
                    </div>
                </div>
            </ng-container>
            <div *ngFor="let item of additionalWomen" class="item">
                <div>⠀</div>
            </div>
        </div>
    </div>
</div>
