<div class="year">
    <div class="year-head">
        <div>{{'Competition.yearGroup' | translate}}</div>
        <div class="add-delete" *ngIf="newYearGroup">
            <img src="../../../../assets/icons/delete.png" (click)="onClear()">
            <img src="../../../../assets/icons/add.png" (click)="onAdd()">
        </div>
    </div>
    <div class="body">
        <div class="men">
            <div class="head"><div>{{'Competition.men' | translate}}</div></div>
            <div *ngFor="let item of men">{{item.startYear.getFullYear()}}
                <span *ngIf="!item.infinity"> - {{item.endYear!.getFullYear()}}</span>
                <span *ngIf="item.infinity">+</span></div>
        </div>
        <div class="women">
            <div class="head"><div>{{'Competition.women' | translate}}</div></div>
            <div *ngFor="let item of women">{{item.startYear.getFullYear()}}
                <span *ngIf="!item.infinity"> - {{item.endYear!.getFullYear()}}</span>
                <span *ngIf="item.infinity">+</span></div>
        </div>
    </div>
</div>
