@import 'variebles';


.year {
    display: grid;
    align-self: flex-start;
    width: max-content;
    grid-template-columns: minmax(max-content, 7em) minmax(max-content, 7em);
    background-color: $mainA-color;    
    .group {
        background-color: $second-color;
        grid-area: 1 / 1 / 1 / 3;
        padding: 0 1em;
    }
    .men div:nth-child(even) {
        backdrop-filter: brightness(80%);
    }
    .women div:nth-child(odd) {
        backdrop-filter: brightness(80%);
    }
    .men,
    .women {
        div {
            padding: 0 1em;
        }
    }
}