@import 'variebles';

body {
    height: 100%;
    background-color: $main-color;
    color: $main-text-color;
    display: flex;
    flex-direction: column;
    justify-content:stretch;
}

.router {
    flex-grow: 1;
    position: relative;
}

/*#region footer*/
footer {
    align-self: stretch;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: calc(2px + 0.2vw);
    background-color: $mainA-color;
    div {
        padding: 2px ;
        padding: calc(5px + 0.5vw);
    }
}
/*#endregion*/