@import 'variebles';

body {
    //min-height: 100vh;
    //min-width: 320px;
    height: 100%;
    overflow: scroll;
    background-color: $main-color;
    color: $main-text-color;
    display: flex;
    flex-direction: column;
    justify-content:stretch;
}

.router {
    flex-grow: 1;
    position: relative;
    min-height: 420px;
    min-width: 320px;
}

/*#region footer*/
footer {
    min-width: 320px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.8em;
    background-color: $mainA-color;
    div {
        padding: 0.3em;
    }
}
/*#endregion*/