/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import 'variebles';

*,
*::before,
*::after {
  //font-size: max(min(0.8vw, 18px), 8px);
  font-size: min(max(8px, 1vw), 24px);
}

::-webkit-scrollbar {
    width: 1em;
    background-color: $mainC-color;
  }
::-webkit-scrollbar-thumb {
    border-radius: 0.5em;
    background-color: $second-color;
  }

