/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import 'variebles';

*,
*::before,
*::after {
  font-size: min(max(8px, 1vw), 24px);
}

::-webkit-scrollbar {
    width: 1em;
    background-color: $mainC-color;
  }
::-webkit-scrollbar-thumb {
    border-radius: 0.5em;
    background-color: $second-color;
  }

  button {
    color: $main-color;
    border: 0 none;
    background-color: $second-color;
    border-radius: 0.2em;
    &:hover {
      background-color: $secondA-color;
    }
  }

