<div class="flex-contaiener">
    <div class="header">
        <div class="nav-header">
            <button class="btn sign-up" routerLink="/welcome/sign-up">{{'UI.Button.signUp' | translate}}</button>
            <button class="btn sign-in" routerLink="/welcome/sign-in">{{'UI.Button.signIn' | translate}}</button>           
        </div>
        <div class="title-header">
            <span>{{'Contacts.websiteName' | translate}}</span>
        </div>
        <div class="logo">
            <img src = '../../../assets/icons/logo.png'>
            <div class="company">{{'Contacts.сompany' | translate}}</div>
        </div>
    </div>
    <div class="main">
        <div class="main-img">
            <div class="img1"></div>
            <div class="img2"></div>
            <div class="img3"></div>
        </div>
        <div class="greetings">
            <h1>{{'Welcome.Main.greetings'|translate}}</h1>
            <p>{{'Welcome.Main.greetingsMsg'|translate}}</p>
        </div>
    </div>
</div>
