@import 'variebles';

.flex-contaiener {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*#region header*/
.header {
    align-self: stretch;
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid $mainA-color;
}

.logo {
    flex-grow: 1;
    display: flex;
    font-size: 2em;
    letter-spacing: 0.1em;
    padding: 0.2em 0;
    img {
        height: 1em;
        border-radius: 100%;
        background-color: $mainA-color;
    }
    .company {
        padding-left: 0.2em;
    }

}

.title-header {
    flex-grow: 1;
    text-align: center;
    font-size: 3.5em;
    padding: 0.2em 0.15em;
    text-decoration: underline;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding: 0.2em 0;
    .btn {
        text-align: center;
        border-radius: 2px;
        text-transform: uppercase;
        transition: 1s;
        padding: .2em .5em;
    }
    .sign-in {
        margin: 0 1em 0px 2em;
        border: 2px solid $secondB-color;
        background-color: $main-color;
        color: $secondA-color;
        &:hover {
            border-color: $second-color;
            color: $second-color;
        }
    }
    .sign-up {
        margin-left: 2em;
        background-image: linear-gradient(to right, $second-color 0%, $secondB-color 51%, $second-color 100%);
        border: 2px solid transparent;
        background-size: 200% auto;
        &:hover {
            background-position: right center;
        }
    }
}
/*#endregion*/

/*#region main*/
.main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: stretch;
    text-align: center;
}

.main-img {
    flex-grow: 1;
    min-width: 50vw;
    display: grid;
    margin: 5%;
    grid: repeat(100,1%) / repeat(100,1%) ;
    .img1 {
        background: url('../../../assets/imges/sport1.jpg') no-repeat;
        grid-area: 1 / 1 / 53 / 55;
        z-index: 3;
        background-size: 100% 100%;
    }
    .img2 {
        background: url('../../../assets/imges/sport2.jpg') no-repeat 100%;
        grid-area: 13 / 52 / 67 / 101 ;
        z-index: 1;
        background-size: 100% 100%;
    }
    .img3 {
        background: url('../../../assets/imges/sport3.jpg') no-repeat 100%;
        grid-area: 48 / 8 / 101 / 62 ;
        z-index: 2;
        background-size: 100% 100%;
    }
}

.greetings {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        color: $second-color;
        font-size: 2em;
        letter-spacing: 0.1em;
        margin-bottom: 0.5em;
        padding: 0 10%;
    }
    p {
        font-size: 0.8em;
        letter-spacing: 0.1em;
        padding: 0 10%;
    }
}
/*#endregion*/